<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>

    <!-- CODEMIRROR: Download from http://codemirror.net/codemirror.zip -->
    <link rel="stylesheet" href="stylesheets/codemirror.css" />
    <script src="/javascripts/codemirror.js"></script>

    <!-- Download from http://www.firepad.io/firepad.zip -->
    <link rel="stylesheet" href="stylesheets/firepad.css" />
    <script src="javascripts/firepad.js"></script>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <p>Welcome to</p>
    <div id="firepad"></div>
    <script>
      var firepadRef = new Firebase('https://fire-base-test.firebaseio.com/');
      var codeMirror = CodeMirror(document.getElementById('firepad'), { lineWrapping: true });
      var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror,
          { richTextShortcuts: false, richTextToolbar: false });
    </script>
    <p></p>
  </body>
</html>
